@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

/* VARIABLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

/* NORMALIZE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* NORMALIZE */

body {
    background: #121212;
    color: #F1F1F1;
    font: 500 normal 22px/1.3 'Inter', sans-serif;
}
.mwg_effect079 .scroll {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.mwg_effect079 .container {
    height: 100vh;
    display: flex;
    align-items: center;
}
.mwg_effect079 .text {
    padding: 0 100vw;
    font-family: 'Google Sans Flex';
    font-size: max(60px, 12vw);

    width: max-content;
    white-space: nowrap;
    will-change: transform;
}
.mwg_effect079 .char {
    --wght: 250;
    font-variation-settings: 'wght' var(--wght);
}
.mwg_effect079 .footer {
  position: absolute;
  white-space: initial;
  bottom: 25px;
  left: 25px;
}
.mwg_effect079 .footer p {
  font: 500 normal 11px / 1.4 'IBM Plex Mono';
  text-transform: uppercase;
  margin: 0 0 8px;
}
.mwg_effect079 .footer p span {
  display: block;
}
.mwg_effect079 .footer p span:last-child {
  color: #999;
}
.mwg_effect079 .footer img {
  width: 150px;
  aspect-ratio: 1;
  display: block;
  object-fit: cover;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .mwg_effect079 .footer {
    bottom: 15px;
    left: 15px;
  }
  .mwg_effect079 .footer img {
    width: 120px;
  }
}