@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;800&display=swap');

/* NORMALIZE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* NORMALIZE */

body {
    background: #121212;
    color: #F1F1F1;
    font: 500 normal 18px/1.3 'Inter', sans-serif;
}
.mwg_effect063 {
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.mwg_effect063 p {
    position: absolute;
    bottom: calc(50% + 13vw);
    left: 0;
    width: 100%;
    text-align: center;
    padding: 25px;
    line-height: 1;
}
.mwg_effect063 p span {
    display: block;
}
.mwg_effect063 p span:first-child {
    font-size: min(65px, 6vw);
    margin: 0 0 15px;
}
.mwg_effect063 .container {
    display: flex;
    gap: 5px;
    height: 22vw;
    padding: 2vw 5px;
    width: 100%;
    overflow: auto;
}
.mwg_effect063 .container::-webkit-scrollbar {
    display: none;
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
.mwg_effect063 .container .media {
    height: 100%; /* Fix Safari */
}
.mwg_effect063 .container img {
    display: block;
    height: 100%;
    width: auto;
    user-select: none;
    -webkit-user-drag: none;
    border-radius: 1.4vw;
    transition: transform 0.2s;
}

@media (hover: hover) {
    .mwg_effect063:not(.hover-off) .container .media:hover img {
        transform: scale(0.97, 0.97);
    }
}
@media (max-width: 768px) { 
    .mwg_effect063 p {
        bottom: auto;
        top: 15px;
    }
    .mwg_effect063 .container {
        height: 40vw;
    }
}